/* global css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700@display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #202142cb;
  color: #fff;
  line-height: 1.6;
  text-align: center;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.cards--stats {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.card {
  position: relative;
  background-color: #fff;
  color: #333;
  padding: 2em;
  margin: 1em;
  border-radius: 1em;
}
.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.card--num {
  position: absolute;
  border-radius: 50%;
  left: -0.5em;
  top: -0.5em;
  width: 50px;
  height: 50px;
  border: 1px solid green;
  color: black;
  padding: 0.5em;
}

.card--text {
  border: 1px solid red;
}
